/* BASIC SETUP */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CALENDAR */
.calendar-container {
    min-height: 300px;
    width: 700px;
    background-color: rgb(87, 87, 87);
    justify-self: center !important;
    align-self: center !important;
    margin: 20px;
}

.calendar-container > div {
    height: auto;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.calendar-container > div > p {
    color: white;
    text-align: center;
}

/* CALENDAR DOTS */
.calendar-container > div > div {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.not-in-month {
    margin: 45%;
    background-color: grey;
}

.unimportant-day {
    margin: 30%;
    background-color: grey;
}

.important-day {
    margin: 10%;
    background-color: white;
}