.homeGrid {
    display: grid;
    /* Essentially, I want the left column to be collapsible, and the right column to expand to take it */
    grid-template-columns: auto 1fr; 
    grid-template-rows: 100vh;
}

.sideBar{
    width: 20vw;
    height: 100vh;
    background-color: blue;
}

.mainContent {
    width: 100%;
    height: 100vh;
    background-color: rgb(109, 216, 136);
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr; 
    grid-auto-rows: min-content;
}

.collapsed {
    width: 2vw;
    background-color: rgb(173, 211, 255);
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.uncollapsed {
    width: 20vw;
    background-color: rgb(167, 190, 255);
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.collapseBtn {
    position: absolute;
}

.title {
    margin: 20px;
    justify-self: center;
    margin-right:400px
}